* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #2f9250;
    margin: 0 auto;
    width: 910px;
}

header {
    margin: 35px 0;
    display: flex;
    justify-content: space-between;
}