:root {
    --background-color: #ececec;
    --primary-color: rgb(73,73,73);
    --secondary-color: rgb(138,138,138);
}

* {
    margin: 0;
    padding: 0;
    color: var(--primary-color);
    font-family: sans-serif;
}

body {
    background-color: var(--background-color);
    margin: 0 auto;
    width: 910px;
}

header {
    margin: 35px 0;
    display: flex;
    justify-content: space-between;
}

button, input[type="submit"] {
    padding: 8px;
    width: 80px;
}

/* style the page when our welcome page and our complete page is present */
.page-container[data-page="welcome"], 
.page-container[data-page="complete"] {
    width: 500px;
    padding: 9px;
    border-left: var(--secondary-color) solid 4px;
}

/* style paragraph elements inside our container */
.page-container[data-page="welcome"] p {
    margin: 15px 0;
}


/* style button inside page container */
.page-container[data-page="welcome"] button, 
.page-container[data-page="complete"] form input[type="submit"] {
    background-color: var(--background-color);
    border: 1px solid var(--primary-color);
    border-radius: 8px;
}

/* on hover... */
.page-container[data-page="welcome"] button:hover,
.page-container[data-page="complete"] form input[type="submit"]:hover {
    color: var(--background-color);
    background-color: var(--primary-color);
}

/* style the page when our quiz page is present */ 

/* style the answers */
.page-container[data-page="quiz"] p {
    margin: 20px 0;
    width: fit-content;
    border-bottom: var(--background-color) solid 2px;
}

.page-container[data-page="quiz"] p:hover {
    cursor: pointer;
    border-bottom: var(--primary-color) solid 2px;
}

/* style the correct/incorrect text */
div[data-was-correct] {
    border-top: 1px solid var(--primary-color);
}

div[data-was-correct="true"] p i {
    color: green;
}

div[data-was-correct="false"] p i {
    color: red;
}

/* style page when quiz is complete */
.page-container[data-page="complete"] form input[type="submit"],
.page-container[data-page="complete"] form {
    margin-top: 20px;
}

.page-container[data-page="complete"] form input[type="submit"] {
    display: flex;
}